// https://zellij.dev/documentation/configuration
pane_frames false
copy_command "pbcopy"

keybinds {
  pane {
    bind "a" { FocusPreviousPane; }
    bind "b" { FocusNextPane; }
  }
  tab {
    bind "u" { MoveTab "Left"; }
    bind "i" { MoveTab "Right"; }
  }
}
